body {
  background-color: #f0f0f0;
}

.container {
  max-width: 680px;
}

form {
  width: 100%;
}

span {
  color: red;
}

.bg-black {
  background-color: black;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}